body {
  background-color: #084998;
}

header {
  color: #084998;
  background-color: #fed437;
}

main {
  color: #fed437;
}

.logo {
  width: 200px;
}

.card-movie {
  height: 600px;
  border-radius: 20px;
  position: relative;
  border: 4px solid #fed437;
}

.cover-movie {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #031429;
  border-radius: 20px;
  opacity: 0;
  transition: 0.3s;
}

.card-movie:hover .overlay {
  opacity: 0.8;
}