body {
  background-color: #084998;
}

header {
  color: #084998;
  background-color: #fed437;
  position: fixed;
  z-index: 1;
  width: 100%;
}

main {
  color: #fed437;
}

a {
  text-decoration: none;
  color: #fed437;
}

.logo {
  width: 200px;
}

.card-movie {
  height: 600px;
  border-radius: 20px;
  position: relative;
  border: 4px solid #fed437;
}

.cover-movie {
  width: 550px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #031429;
  border-radius: 20px;
  opacity: 0;
  transition: 0.3s;
}

.card-movie:hover .overlay {
  opacity: 0.85;
}

.pt-100 {
  padding-top: 220px;
}

.card-detail {
  max-width: 100%;
  border: 4px solid #fed437;
  border-radius: 20px;
}

.card-img {
  width: 40%;
  border-right: 4px solid #fed437;
}

.detailImg {
  width: 100%;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.card-text {
  width: 60%;
  color: #fed437;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text h1 {
  font-size: 4em;
  padding-bottom: 30px;
}

.card-text h4 {
  font-size: 2em;
  padding-bottom: 30px;
}

.card-text p {
  font-size: 1.5em;
  padding-bottom: 30px;
}

.btn-blu {
  background-color: #084998;
  color: #fed437;
  padding: 20px;
  margin-right: 25px;
}

.btn-yellow {
  background-color: #fed437;
  color: #084998;
  padding: 20px;
  margin-right: 25px;
}

.btn-blu:hover {
  border: 3px solid #084998;
  background-color: #fed437;
  color: #084998;
  transform: scale(1.5);
}

.btn-yellow:hover {
  border: 3px solid #fed437;
  background-color: #084998;
  color: #fed437;
  transform: scale(1.2);
}

.review-card {
  margin-top: 50px;
  border-radius: 20px;
  border: 4px solid #fed437;
  background-color: #084998;
  color: #fed437;
  padding: 20px;
}

.overlay-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  width: 200px;
  height: 200px;
  font-size: 40px;
}

.color-yellow {
  color: #fed437;
}